name: Update Citation Map

on:
  schedule:
    - cron: '0 0 * * *' # 每天凌晨 0 点
  workflow_dispatch:

jobs:
  update:
    runs-on: self-hosted  # 使用 Mac mini Runner

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup conda base
      shell: zsh {0}
      run: |
        eval "$(/Users/fanggan/miniconda3/bin/conda shell.zsh hook)"
        conda activate base
        conda info --envs
        which python
        python --version

    - name: Install dependencies
      shell: zsh {0}
      run: |
        eval "$(/Users/fanggan/miniconda3/bin/conda shell.zsh hook)"
        conda activate base
        python -m pip install --upgrade pip
        python -m pip install scholarly citation_map httpx==0.23.3 playwright
        python -m playwright install chromium
  
    - name: Measure execution time and generate citation map
      id: run_script
      shell: zsh {0}
      run: |
        eval "$(/Users/fanggan/miniconda3/bin/conda shell.zsh hook)"
        conda activate base
        start_time=$(date +%s)
        python generate_map.py
        end_time=$(date +%s)
        elapsed_time=$(( end_time - start_time ))
        echo "Execution time: $elapsed_time seconds"
        echo "elapsed_time=$elapsed_time" >> $GITHUB_ENV

    - name: Commit and push changes if runtime >= 3 minutes
      if: env.elapsed_time >= 150
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
      shell: zsh {0}
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
        git add .
        git commit -m 'Update citation map'
        git push https://github.com/Enderfga/enderfga.github.io.git
